
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @* Асинхронная загрузка частичного представления *@
    <div class="partialContent" data-url="@Url.Action("GetStudentsList", "Home")">

    </div>
   
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div id="studentInputContent">
            @Html.Partial("_StudentInput")
        </div>
       
    </div>
    <div class="col-md-6">
        <div id="studentsTempList">

        </div> 
    </div> 
</div>